# MongoDB connection URI
V4_URI=



# URL of the authentication server (e.g., http://localhost:3000)
AUTH_URL=

# Authentication secret for JWT tokens
# npx auth secret
AUTH_SECRET=

# Data Encryption Key and IV (Initialization Vector)
# node -e "console.log(require('crypto').randomBytes(16).toString('hex'))"
SECRET_KEY=
# node -e "console.log(require('crypto').randomBytes(16).toString('hex'))"
SECRET_IV=


# set to true to enable development mode.
# in dev mode, the app will log additional information to the console for debugging purposes.
DEV_INSTANCE=false