APP_URL=

#MongoDB connection URI
V4_URI=


#Authentication secret for JWT tokens
#npx auth secret
AUTH_SECRET=


# Data Encryption Key and IV (Initialization Vector)
#node -e "console.log(require('crypto').randomBytes(16).toString('hex'))"
SECRET_KEY=
#node -e "console.log(require('crypto').randomBytes(16).toString('hex'))"
SECRET_IV=


# set to true to enable development mode.
# IMPORTANT: in dev mode, db-data will NOT BE ENCRYPTED, so do NOT use dev mode in production or with real data!
DEV_INSTANCE=false