# MongoDB connection URI, e.g. mongodb://localhost:27017/your-db-name
V4_URI=

# Secret key and IV for encryption. You can generate them using openssl:
# openssl rand -hex 16  # for SECRET_KEY (32 hex characters = 16 bytes)
SECRET_KEY=
# openssl rand -hex 16  # for SECRET_IV (32 hex characters = 16 bytes)
SECRET_IV=

# set to true to enable development mode.
# IMPORTANT: in dev mode, db-data will NOT BE ENCRYPTED, so do NOT use dev mode in production or with real data!
DEV_INSTANCE=